.sizer-container {
  position: relative;
  margin: auto;
  border: 3px solid #666;
  border-radius: 10px;
}

.zoom-controls {
  display: flex;
  align-items: center;
  width: 600px;
  margin: 10px auto;

  .slider {
    flex-grow: 1;
  }

  .zoom-in, .zoom-out {
    display: inline-block;
    padding: 10px;
    font-size: 32px;
    cursor: pointer;
  }
}
