$trackColor: rgb(210, 210, 210);
$trackHeight: 0;

$thumbColor: rgb(16, 127, 230);
$thumbHeight: 30px;
$thumbWidth: 10px;


input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 13.8px 0;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: $trackHeight;
  cursor: pointer;
  background: $trackColor;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

input[type=range]::-webkit-slider-thumb {
  border: 1px solid #000000;
  height: $thumbHeight;
  width: $thumbWidth;
  border-radius: 3px;
  background: $thumbColor;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -14px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #8eb9df;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: $trackHeight;
  cursor: pointer;
  background: $trackColor;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

input[type=range]::-moz-range-thumb {
  border: 1px solid #000000;
  height: $thumbHeight;
  width: $thumbWidth;
  border-radius: 3px;
  background: $thumbColor;
  cursor: pointer;
}

input[type=range]::-ms-track {
  width: 100%;
  height: $trackHeight;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type=range]::-ms-fill-lower {
  background: #0f2436;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
}

input[type=range]::-ms-fill-upper {
  background: $trackColor;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
}

input[type=range]::-ms-thumb {
  border: 1px solid #000000;
  height: $thumbHeight;
  width: $thumbWidth;
  border-radius: 3px;
  background: $thumbColor;
  cursor: pointer;
  height: $trackHeight;
}

input[type=range]:focus::-ms-fill-lower {
  background: $trackColor;
}

input[type=range]:focus::-ms-fill-upper {
  background: #8eb9df;
}
