@import '../components/common.scss';

.Index {
  text-align: center;
}

.upload-box {
  display: inline-block;
  margin: 10px auto;
  background-color: rgba(0,0,0,0.05);
  padding: 10px 30px;

  input {
    margin-bottom: 16px;
  }
}

.zoom-overlay-button {
  position: absolute;
  font-size: 104px;
  cursor: pointer;
}
