@import '../components/common.scss';

.Index {
  text-align: center;
}

.upload-box {
  display: inline-block;
  width: 350px;
  margin: 10px auto;
  background-color: #eee;
  border: 4px dashed #666;
  border-radius: 10px;
  padding: 10px;

  input {
    margin-bottom: 16px;
  }
}

.zoom-controls {
  display: flex;
  align-items: center;
  width: 600px;
  margin: 10px auto;

  .slider {
    flex-grow: 1;
  }

  .zoom-in, .zoom-out {
    padding: 10px;
    font-size: 32px;
  }
}
